<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bailian.dao.ApiPromotionalGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.bailian.model.ApiPromotionalGoods" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="api" property="api" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="INTEGER" />
    <result column="goods_sid" property="goodsSid" jdbcType="VARCHAR" />
    <result column="category_sid" property="categorySid" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
    <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.bailian.model.ApiPromotionalGoods" >
    insert into api_promotional_goods (id, api, channel, 
      position, goods_sid, category_sid, 
      start_date, end_date, is_valid, 
      update_datetime)
    values (#{id,jdbcType=INTEGER}, #{api,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, 
      #{position,jdbcType=INTEGER}, #{goodsSid,jdbcType=VARCHAR}, #{categorySid,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{isValid,jdbcType=INTEGER}, 
      #{updateDatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bailian.model.ApiPromotionalGoods" >
    insert into api_promotional_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="api != null" >
        api,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="goodsSid != null" >
        goods_sid,
      </if>
      <if test="categorySid != null" >
        category_sid,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="updateDatetime != null" >
        update_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="api != null" >
        #{api,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=INTEGER},
      </if>
      <if test="goodsSid != null" >
        #{goodsSid,jdbcType=VARCHAR},
      </if>
      <if test="categorySid != null" >
        #{categorySid,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="getAllPromotionsByApi"  resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from api_promotional_goods
    where  is_valid=1 and now() BETWEEN start_date AND end_date and  api = #{api,jdbcType=VARCHAR}
 </select>
  <select id="getAllPromotions"  resultMap="BaseResultMap" >
    select * from api_promotional_goods
    where  is_valid=1 and now() BETWEEN start_date AND end_date
 </select>
 
</mapper>